{% extends 'base.twig' %}
{% form_theme formRegister 'bootstrap_4_layout.html.twig' %}

{% block title %}Inscrivez vous{% endblock %}

{% block body %}
<h1>page de connexion</h1>
		{{ form_start(formRegister) }}
		{{ form_row(formRegister.email, {
                        'attr': {'placeholder': "Votre email"},
                        'label': "eMail"}) }}
		{{ form_row(formRegister.firstName, {
                        'attr': {'placeholder': "Votre Prénom"},
                        'label': "Prénom"}) }}
		{{ form_row(formRegister.lastName, {
                        'attr': {'placeholder': "Votre Nom de Famille"},
                        'label': "Nom de famille"}) }}
		{{ form_row(formRegister.password, {
                        'attr': {'placeholder': "Votre Mot de passe"},
                        'label': "Mot de passe",
                        'type': "password"}) }}
		{{ form_row(formRegister.confirmPassword, {
                        'attr': {'placeholder': "Saisissez a nouveau votre Mot de passe"},
                        'label': "Confirmation du Mot de passe",
                        'type': "password"}) }}
		<button type="submit" class="btn btn-success">
			Je M'inscrits
		</button>
		{{ form_end(formRegister) }}

{% endblock %}
