{% extends 'base.twig' %}
{% form_theme formTrick 'bootstrap_4_layout.html.twig' %}

{% block title %}
	{{ editMode ? "modifier" : "ajouter" }} figure
{% endblock %}

{% block stylesheets %}
	<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet">
{% endblock %}

{% block body %}
	<h1>
		{{ editMode ? "modifier" : "ajouter" }} une figure
	</h1>
    {% if app.user %}
		<section>
			{{ form_start(formTrick) }}
			{{ form_row(formTrick.name, {
	                        'attr': {'placeholder': "Nom de la figure"},
	                        'label': "Nom de la figure"}) }}
			{{ form_row(formTrick.trickGroup, {
	                        'label': "Groupe de figure"}) }}
			{{ form_row(formTrick.content, {
	                        'attr': {'placeholder': "Votre Texte sur la figure", 'class': "summernote"},
	                        'label': "Description de la figure"}) }}
			<button type="submit" class="btn btn-success">
				{{ editMode ? "modifier" : "ajouter" }} la figure
			</button>
			{{ form_end(formTrick) }}
		</section>
		{% if editMode %}
		{# if tricks.id is defined #}
			<hr>
			<section>
				<h3>Actuellement {{ trick.trickImages | length }} Photos</h3>
	            <a href="{{ path('edit_image_trick', {'id': trick.id}) }}" class="btn btn-info"><em class="far fa-image"></em> Gestion des images</a>
			</section>
			<hr>
			<section>
				<h3>Actuellement {{ trick.trickVideos | length }} Videos</h3>
	            <a href="{{ path('edit_video_trick', {'id': trick.id}) }}" class="btn btn-primary"><em class="fab fa-youtube"></em> Gestion des videos</a>				
			</section>
		{% endif %}
	{% else %}
		{% include 'snow/messageNeedConnect.twig'%}
	{% endif %}

{% endblock %}

{% block javascripts %}
	<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.js"></script>
    <script type="text/javascript">
		$(document).ready(function() {
			$('.summernote').summernote();
		});
	</script>
{% endblock %}
