{% extends 'base.twig' %}
{% form_theme formTrick 'bootstrap_4_layout.html.twig' %}

{% block title %}Ajout figure{% endblock %}

{% block body %}
	<h1>
		{% if editMode %}
			Modifier une figure
		{% else %}
			Créer une figure
		{% endif %}
	</h1>
    {% if app.user %}
		<section>
			{{ form_start(formTrick) }}
			{{ form_row(formTrick.name, {
	                        'attr': {'placeholder': "Nom de la figure"},
	                        'label': "Nom de la figure"}) }}
			{{ form_row(formTrick.trickGroup, {
	                        'label': "Groupe de figure"}) }}
			{{ form_row(formTrick.content, {
	                        'attr': {'placeholder': "Votre Texte sur la figure"},
	                        'label': "Description de la figure"}) }}
			<button type="submit" class="btn btn-success">
				{% if editMode %}
					Modifier la figure
				{% else %}
					Ajouter la figure
				{% endif %}
			</button>
			{{ form_end(formTrick) }}
		</section>
		{% if editMode %}
			<hr>
			<section>
				<h3>Actuellement Photos</h3>
	            <a href="{{ path('edit_video_trick', {'id': trick.id}) }}" class="btn btn-info"><em class="far fa-image"></em> Gestion des images</a>
			</section>
			<hr>
			<section>
				<h3>Actuellement {{ trick.trickVideos | length }} Videos</h3>
	            <a href="{{ path('edit_video_trick', {'id': trick.id}) }}" class="btn btn-primary"><em class="fab fa-youtube"></em> Gestion des videos</a>				
			</section>
		{% endif %}
	{% else %}
		{% include 'snow/messageNeedConnect.twig'%}
	{% endif %}

{% endblock %}
