{% extends 'base.twig' %}
{% form_theme trickCommentForm 'bootstrap_4_layout.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}
{% include 'snow/confirmDeleteTrickModal.twig' %}
<hr>
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col-sm-10">
                <div class="row">
                    <div class="col text-center">
                        {% if trick.trickImages[0] is defined %}
                        <img class="img-fluid" src="{{ asset('uploads/trick_images/' ~ trick.trickImages[0].link) }}" alt="Image Trick {{ trick.id }}" id="imgFull">
                        {% else %}
                        <img class="img-fluid" src="/img/default.jpg" alt="Snow Trick Image par default">
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <h3><strong>{{ trick.name }}</strong></h3>
                        <h5 class=""><em>[ {{ trick.trickGroup.name }} ]</em></h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                {% include 'snow/trickPartImg.twig' %}
            </div>
        </div>
        <hr>
        <h4 class=""><em>Description : </em></h4>
        <p class="">{{ trick.content| myHTML }}</p>
        <hr>
        <div class="row">
            <div class="col">
                <h6 class="text-muted">Créé le : {{ trick.dateCreate | date('d-m-Y : H:i') }}</h6>
                <h6 class="text-muted">Par : {{ trick.userCreate.userName }}</h6>
            </div>
            {% if trick.dateCreate != trick.dateUpdate %}
            <div class="col">
                <h6 class="text-muted">Derniere  modif le : {{ trick.dateUpdate | date('d-m-Y : H:i') }}</h6>
                <h6 class="text-muted">Par : {{ trick.userUpdate.userName }}</h6>
            </div>
            {% endif %}
            {% if app.user %}
            <div class="col">
                <div class="btn-group">
                    <a href="{{ path('edit_image_trick', {'id': trick.id}) }}" class="btn btn-info"><em class="far fa-image"></em></a>
                    <a href="{{ path('edit_video_trick', {'id': trick.id}) }}" class="btn btn-primary"><em class="fab fa-youtube"></em></a>
                    <a href="{{ path('edit_trick', {'id': trick.id}) }}" class="btn btn-warning"><em class="fas fa-pencil-alt"></em></a>
                    <a data-toggle="modal" href="#confirmDeleteModal_{{ trick.id }}" class="btn btn-danger"><em class="fas fa-trash-alt"></em></a>
                </div>
            </div>
            {% endif %}
        </div>
        <hr>
        {% include 'snow/trickPartVideo.twig' %}
    </div>
</div>
<hr>
{% if app.user %}
<div class="row">
    <div class="col">
        {{ form_start(trickCommentForm) }}
        <h2>Laissez nous votre commentaire.</h2>
        {{ form_row(trickCommentForm.text, {
                        'attr': {'placeholder': "Votre Commentaire ..."},
                        'label': "Laissez ici votre commentaire."}) }}
        <button type="submit" class="btn btn-success">Envoyer</button>
        {{ form_end(trickCommentForm) }}
    </div>
</div>
<hr>
{% endif %}
<h2>{{ trick.trickComments | length }} Commentaires</h2>
{% include 'snow/trickPartComment.twig' %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var trickId = {{ trick.id }};
        var nbImages = {{ trick.trickImages | length }};
        var nbVideos = {{ trick.trickVideos | length }};
        var trickImagesTab = {{ trickImageTabVarJS | myHTML }};
        var trickVideosTab = {{ trickVideoTabVarJS | myHTML }};
    </script>
    <script src="/js/trick.js"></script>
{% endblock %}
