{% extends 'base.twig' %}
{% form_theme trickCommentForm 'bootstrap_4_layout.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}
{% include 'snow/confirmDeleteTrickModal.twig' %}
<hr>
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col-sm-10">
                <div class="row">
                    <div class="col text-center">
                        {% if trick.trickImages[0] is defined %}
                        <img class="img-fluid" src="{{ asset('uploads/trick_images/' ~ trick.trickImages[0].link) }}" alt="Image Trick {{ trick.id }}" id="imgFull">
                        {% else %}
                        <img class="img-fluid" src="/img/default.jpg" alt="Snow Trick Image par default">
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <h3><strong>{{ trick.name }}</strong></h3>
                        <h5 class=""><em>[ {{ trick.trickGroup.name }} ]</em></h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                {% if trick.trickImages | length > maxImages %} 
                    <div class="ajax_images_list">
                        <div class="row">
                            <div class="col text-center">
                                <h6>{{ trick.trickImages | length }} Photos</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button type="button" class="btn btn-block btn-sm btn-secondary btn_action_ajax_images_list" data-loadimage="-1" data-dir="prev" data-trickid="{{ trick.id }}" id="btnImgPrev"><em class="fas fa-chevron-circle-up"></em></button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-block btn-sm btn-secondary btn_action_ajax_images_list" data-loadimage="{{ maxImages }}" data-dir="next" data-trickid="{{ trick.id }}" id="btnImgNext"><em class="fas fa-chevron-circle-down"></em></button>
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endif %}
                {% for trickImage in trick.trickImages | slice(0, maxImages) %}
                <div class="row">
                    <div class="col" id="divImgClickable_{{ loop.index }}">
                        <img src="{{ asset('uploads/trick_images/' ~ trickImage.link) }}" class="img-fluid rounded imgClickable" id="imgClickable_{{ loop.index }}">
                    </div>
                </div>
                {% if loop.index < maxImages %}<hr>{% endif %}
                {% endfor %}
            </div>
        </div>
        <hr>
        <h4 class=""><em>Description : </em></h4>
        <p class="">{{ trick.content | raw }}</p>
        <hr>
        <div class="row">
            <div class="col">
                <h6 class="text-muted">Créé le : {{ trick.dateCreate | date('d-m-Y : H:i') }}</h6>
                <h6 class="text-muted">Par : {{ trick.userCreate.userName }}</h6>
            </div>
            {% if trick.dateCreate != trick.dateUpdate %}
            <div class="col">
                <h6 class="text-muted">Derniere  modif le : {{ trick.dateUpdate | date('d-m-Y : H:i') }}</h6>
                <h6 class="text-muted">Par : {{ trick.userUpdate.userName }}</h6>
            </div>
            {% endif %}
            {% if app.user %}
            <div class="col">
                <div class="btn-group">
                    <a href="{{ path('edit_image_trick', {'id': trick.id}) }}" class="btn btn-info"><em class="far fa-image"></em></a>
                    <a href="{{ path('edit_video_trick', {'id': trick.id}) }}" class="btn btn-primary"><em class="fab fa-youtube"></em></a>
                    <a href="{{ path('edit_trick', {'id': trick.id}) }}" class="btn btn-warning"><em class="fas fa-pencil-alt"></em></a>
                    <a data-toggle="modal" href="#confirmDeleteModal_{{ trick.id }}" class="btn btn-danger"><em class="fas fa-trash-alt"></em></a>
                </div>
            </div>
            {% endif %}
        </div>
        <hr>
        <h2>{{ trick.trickVideos | length}} Videos</h2>
        <div class="row">
            {% for trickVideo in trick.trickVideos | slice(0,3) %}
            <div class="col-4">
                {{ trickVideo.link | raw }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<hr>
{% if app.user %}
<div class="row">
    <div class="col">
        {{ form_start(trickCommentForm) }}
        <h2>Laissez nous votre commentaire.</h2>
        {{ form_row(trickCommentForm.text, {
                        'attr': {'placeholder': "Votre Commentaire ..."},
                        'label': "Laissez ici votre commentaire."}) }}
        <button type="submit" class="btn btn-success">Envoyer</button>
        {{ form_end(trickCommentForm) }}
    </div>
</div>
<hr>
{% endif %}
<h2>{{ trick.trickComments | length }} Commentaires</h2>
<div class="row">
    <div class="col">
        {% for comment in trick.trickComments | slice(0, maxComments) %}
        <div class="row trickComment">
            <div class="col-sm-2 trickCommentGauche text-center">
                {% if comment.userCreate.avatar %}
                    <img class="imgAvatar imgAvatarComment rounded-circle img-fluid" src="/uploads/avatar/{{ comment.userCreate.avatar }}" title="{{ comment.userCreate.userName }}">
                {% else %}
                    <span class="txtAvatar">{{ comment.userCreate.userName }}</span>
                {% endif %}
            </div>
            <div class="col trickCommentDroite">
                <div class="row">
                    <div class="col">
                        <p>{{ comment.text }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h6 class="text-muted">Ecrit le : {{ comment.dateCreate | date('d-m-Y : H:i') }}</h6>                        
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<hr>
{% if trick.trickComments | length > maxComments %}
<div class="ajax_comments_list">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-block btn-secondary btn_action_ajax_comments_list" data-trickid="{{ trick.id }}" data-pagenb="1">Plus de Commentaires</button>
        </div>
    </div>
</div>
<hr>
{% endif %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var trickId = {{ trick.id }};
        var nbImages = {{ trick.trickImages | length }};
        var nbVideos = {{ trick.trickVideos | length }};
        var trickImagesTab = [ {% for image in trick.trickImages %}{% if not loop.first %}, {% endif %}'{{ image.link }}'{% endfor %} ];
    </script>
    <script src="/js/trick.js"></script>
{% endblock %}
