{% extends 'base.twig' %}
{% form_theme formTrickVideo 'bootstrap_4_layout.html.twig' %}

{% block title %}Gestion des Videos{% endblock %}

{% block body %}
	<h1>Gestion des videos</h1>
    {% if app.user %}
		<div class="row">
			<div class="col-sm-4">
				<section>
				    <h2><em>Figure : </em><strong>{{ trick.name }}</strong></h2>
				    <div class="btn-group">
                        <a href="{{ path('show_trick', {'id': trick.id}) }}" class="btn btn-secondary"><em class="far fa-eye"></em></a>
			            <a href="{{ path('edit_image_trick', {'id': trick.id}) }}" class="btn btn-info"><em class="far fa-image"></em></a>
                        <a href="{{ path('edit_trick', {'id': trick.id}) }}" class="btn btn-warning"><em class="fas fa-pencil-alt"></em></a>
				    </div>
				</section>
				<hr>
				<section>
				    <h4>Ajouter une video :</h4>
					{{ form_start(formTrickVideo) }}
					{{ form_row(formTrickVideo.link, {
			                        'attr': {'placeholder': "Liens Embed"},
			                        'label': "Liens vers la video"}) }}
					<button type="submit" class="btn btn-success">Ajouter la Video</button>
					{{ form_end(formTrickVideo) }}
				</section>
				
			</div>
			<div class="col">
			    <section>
				    <h4>{{ trickVideos | length }} Videos disponibles</h4>
			    	{% for trickVideo in trickVideos %}
			    	<article>
				    	<hr>
			    		{% include 'trick_video/confirmDeleteTrickVideoModal.twig' %}
			    		<div class="row">
			    			<div class="col-1 text-center">
				    			<em><strong>{{ loop.index }}</strong></em><br>
			    				<a data-toggle="modal" href="#confirmDeleteTrickVideoModal_{{ trickVideo.id }}" class="btn btn-danger"><em class="fas fa-trash-alt"></em></a>
			    			</div>
			    			<div class="col"><embed type="video/webm" src="{{ trickVideo.link }}"></embed></div>
			    		</div>
			    	</article>
			    	{% endfor %}
			    </section>
			</div>
		</div>
	{% else %}
		{% include 'snow/messageNeedConnect.twig'%}
	{% endif %}

{% endblock %}
