<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Snow Tricks : {% block title %}{% endblock %}</title>
        <!-- CSS Library -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/main.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #e3f2fd;">
            <a class="navbar-brand" href="{{ path('home') }}"><img src="/img/snowboard.png" width="30" height="30"> Snow Tricks</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('home') }}">Liste des Figures</a>
                    </li>
                    {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('add_trick') }}">Ajouter Figure</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('mentions') }}" title="Mentions Legales"><em class="fas fa-balance-scale"></em></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('politique') }}" title="Politique de confidientialité"><em class="fas fa-mask"></em></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('contact') }}" title="Contact"><em class="fas fa-envelope-open"></em></a>
                    </li>
                    {% if not app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('security_login') }}">Connexion</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('account') }}">
                            {% if app.user.avatar %}
                                <img class="imgAvatar imgAvatarMenu rounded-circle img-fluid" src="/uploads/avatar/{{ app.user.avatar }}" title="Mon Compte">
                            {% else %}
                                <em class="fas fa-users-cog" title="Mon Compte"></em>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger" href="{{ path('security_logout') }}"><em class="fas fa-power-off" title="Deconnexion"></em></a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                    <div class="flash-{{ label }} alert alert-{{ label }} alert-dismissible fade show" role="alert">
                        {{ message | myHTML}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                {% endfor %}
                </div>
            </div>
            {% block body %}{% endblock %}
        </div>
        <!-- JS Library -->
        <script src="/js/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="/js/main.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
