{% extends 'base.twig' %}

{% block title %}Gestion des Videos{% endblock %}

{% block body %}
	<h1>Gestion des Images</h1>
    {% if app.user %}
		<div class="row">
			<div class="col-sm-4">
				<section>
				    <h2><em>Figure : </em><strong>{{ trick.name }}</strong></h2>
				    <div class="btn-group">
                        <a href="{{ path('show_trick', {'id': trick.id}) }}" class="btn btn-secondary"><em class="far fa-eye"></em></a>
			            <a href="{{ path('edit_video_trick', {'id': trick.id}) }}" class="btn btn-primary"><em class="fab fa-youtube"></em></a>
                        <a href="{{ path('edit_trick', {'id': trick.id}) }}" class="btn btn-warning"><em class="fas fa-pencil-alt"></em></a>
				    </div>
				</section>
				<hr>
				<section>
				    <h4>Ajouter une Photo :</h4>
					{{ form_start(formTrickImage) }}
					{{ form_row(formTrickImage.link, {
			                        'attr': {'placeholder': ".jpg .jpeg .png"},
			                        'label': "Liens vers l'image (1mo Maxi)"}) }}
					<button type="submit" class="btn btn-success">Ajouter l'image</button>
					{{ form_end(formTrickImage) }}
				</section>
				
			</div>
			<div class="col">
			    <section>
				    <h4>{{ trickImages | length }} Images disponibles</h4>
			    	{% for trickImage in trickImages %}
			    	<article>
				    	<hr>
			    		{% include 'trick_image/confirmDeleteTrickImageModal.twig' %}
			    		<div class="row">
			    			<div class="col-1 text-center">
				    			<em><strong>{{ loop.index }}</strong></em><br>
			    				<a data-toggle="modal" href="#confirmDeleteTrickImageModal_{{ trickImage.id }}" class="btn btn-danger"><em class="fas fa-trash-alt"></em></a>
			    			</div>
			    			<div class="col"><img src="{{ asset('uploads/trick_images/' ~ trickImage.link) }}" class="img-fluid"></div>
			    		</div>
			    	</article>
			    	{% endfor %}
			    </section>
			</div>
		</div>
	{% else %}
		{% include 'snow/messageNeedConnect.twig'%}
	{% endif %}

{% endblock %}
